text {font-family:     
    'TeX Gyre DejaVu Math', Arial, Helvetica, 'Liberation Sans', sans-serif; position: relative; top: 4.5em; font-size: 17; font-weight: bold}
text.akso {font-style: italic; font-weight: normal}
text.punkto {stroke:navy; font-weight: normal; font-size: 14}
text.komento {font-style: italic; font-size: 20}
text.klarigo {font-weight: normal; font-size: 15}
text.nomo {fill: black; font-weight: normal}
text.parametro {fill: rgb(10,10,10); font-weight: normal}
.indico {font-size: smaller; font-style: italic }
.kursiva {font-style: italic}
.eksponento {font-size: smaller}

rect.klarigo {fill: white; stroke-width:1; stroke:black}
rect.fenestro {stroke: red; stroke-width: 2; fill: none}
.kadro {stroke: black; stroke-width: 1; fill: none}

circle.konstrupunkto {stroke-width: 1; stroke: black; fill: white; }

path {fill:none; stroke-width:2}
path.akso {stroke:black; stroke-width:2}

line.akso {stroke:black; stroke-width:2}

polygon.pinto {stroke: black; stroke-width: 2}
.kurbo {stroke: black; stroke-width: 4; fill: none}
.streko {stroke: magenta; stroke-width: 2}
.streketita {stroke: magenta; stroke-dasharray: 5,2}
.surfaco {fill: rgb(200,200,200); fill-opacity: 0.8}

