<?xml version="1.0"?>
<!DOCTYPE vortaro SYSTEM "../dtd/vokoxml.dtd">
<vortaro>
<art mrk="$Id: di.xml,v 1.60 2023/11/14 15:28:31 revo Exp $">
<kap>
  <ofc>*</ofc>
  <rad>di</rad>/o
</kap>
<drv mrk="di.0o">
  <kap><ofc>*</ofc><tld/>o</kap>
  <snc mrk="di.0o.politeisma">
    <tezrad fak="MIT"/>
    <tezrad fak="REL"/>
    <uzo tip="fak">MIT</uzo>
    <uzo tip="fak">REL</uzo>
    <dif>
      Esta&jcirc;o prezentata kiel supernatura, ordinare senmorta,
      pli potenca ol homoj:
      <ekz>
        neniu scias tiom multe da historioj, kiel la <tld/>o de
        dormo
        <fnt><bib>Fab2</bib>, <lok>Dio de dormo</lok></fnt>;
      </ekz><ekz>
        la Eternulo estos terura por ili, &ccirc;ar li ekstermos
        &ccirc;iujn <tld/>ojn de la tero
        <fnt><bib>MT</bib>, <lok>Cefanja 2:11</lok></fnt>.
    </ekz>
    </dif>
    <subsnc mrk="di.0o.monoteisma">
      <uzo tip="fak">REL</uzo>
      <dif>
        Supernatura, eterna, perfekta kaj &ccirc;iopova estulo,
        kreinto de la universo:
        <ekz>
          kion <tld lit="D"/>o kreis en la sesa tago?
          <fnt><bib>F</bib>, <lok>&FE; 12</lok></fnt>;
        </ekz><ekz>
          al <tld lit="D"/>o pla&ccirc;u, sed sur diablon ne kra&ccirc;u
          <fnt><bib>PrV</bib></fnt>;
        </ekz><ekz>
          e&ccirc; <tld lit="D"/>o, se &gcirc;i ekzistus, ne povus aliigi
          pasinta&jcirc;on
          <fnt><aut>Lanti</aut>: <vrk>Naciismo</vrk>.
            <lok>SAT: Lepsiko, 1930. Anta&ubreve;parolo.</lok></fnt>;
        </ekz><ekz>
          <tld/>o volu, ke... <klr>(mi tre deziras, ke...)</klr>.
        </ekz>
      </dif>
    <trdgrp lng="id">
      <trd>Tuhan</trd>,
      <trd>ilah</trd>
    </trdgrp>
    </subsnc>
    <subsnc mrk="di.0o.FIL">
      <uzo tip="fak">FIL</uzo>
      <dif>
        Principo de ekzistado, unueco kaj komprenebleco de universo.
      </dif>
    </subsnc>
  <trd lng="id">dewa</trd>
  </snc>
  <rim num="1">
    En la sencoj <sncref ref="di.0o.monoteisma"/> kaj
    <sncref ref="di.0o.FIL"/>, <tld/>o estas komuna nomo indikanta
    nombreblan unika&jcirc;on, kaj la&ubreve; la &gcirc;enerala
    regulo devus akcepti la difinan artikolon, simile al
    <ctl>la homaro</ctl>, <ctl>la mondo</ctl> ktp. &Gcirc;uste tiel
    estas en la greka:
    <nac>&kappa;&alfa;&jota_grave; &omikron_densa; &lambda;&omikron_ton;&gamma;&omikron;&sigma_fina; &eta_densa_circ;&ny; &pi;&rho;&omikron_grave;&sigma_fina; &leftquot;&tau;&omikron_grave;&ny; &theta;&epsilon;&omikron_ton;&ny;&rightquot;, &kappa;&alfa;&jota_grave; &leftquot;&theta;&epsilon;&omikron_grave;&sigma_fina;&rightquot;
    &eta_densa_circ;&ny; &omikron_densa; &lambda;&omikron_ton;&gamma;&omikron;&sigma_fina;</nac>
    (la&ubreve;vorte: <ctl>kaj la vorto estis &ccirc;e
    <em>la dio</em>,
    kaj <em>dio</em> estis la vorto</ctl>; en la unua apero
    <em>la dio</em> estas determinita difine kiel la konata
    unika&jcirc;o; en la dua, <em>dio</em> estas predikativo, kaj
    tial senartikola, la&ubreve; sia senco; la tradicia traduko
    [Johano 1:1]
    tiun alklasigon misprezentas kiel identigon).
    La okcidentaj lingvoj transprenis la vorton el la senartikola
    Latino, kaj heredigis tiun malregula&jcirc;on al Esperanto.
    Anka&ubreve; la araba <ref cel="alah.0o">Alaho</ref> devenas el
    <ctl>la dio</ctl>.
  </rim>
  <rim num="2">
    La piuloj skribas kun majuskla D: <em>Dio</em> por la senco
    <sncref ref="di.0o.monoteisma"/> kaj iuj e&ccirc; opinias tiun
    vorton nomo propra; tio estas malvera en kristanismo, judismo
    kaj islamo. E&ccirc; pli malvera tio estas por la senco
    <sncref ref="di.0o.FIL"/> (filozofia).
  </rim>
  <rim num="3">
    En la religioj mediteraneaj (judismo, kristanismo, islamo)
    <tld lit="D"/>o estas personeca kaj li-genra; en pli abstraktaj
    sistemoj filozofiaj (panteismo, budaismo) ne estas persona
    <tld/>o, kaj se oni uzas tian vorton, &gcirc;i ofte estas
    &gcirc;i-genra.
    Tiel en la titolo de <nom>Waringhien</nom>-aj eseoj:
    <ekz>
      <ctl>Ni kaj &Gcirc;i</ctl> <klr>(kie <ctl>&Gcirc;i</ctl>
      rilatas al <tld lit="D"/>o)</klr>.
    </ekz>
  </rim>
  <trd lng="be">&c_b;&c_o;&c_g;</trd>
  <trd lng="bo">&t_la;&t_hata;&t_tsheg;</trd>
  <trd lng="ca">d&eacute;u</trd>
  <trdgrp lng="cs">
    <trd>B&uring;h</trd>,
    <trd>b&uring;h</trd>
  </trdgrp>
  <trd lng="de">Gott</trd>
  <trd lng="en">god</trd>
  <trd lng="es">dios</trd>
  <trd lng="fr">dieu</trd>
  <trd lng="fy">god</trd>
  <trdgrp lng="hu">
    <trd>isten</trd>,
    <trd>Isten</trd>
  </trdgrp>
  <trd lng="io">deo</trd>
  <trd lng="ja">&#x795E;  <pr>&#x304B;&#12416;</pr></trd>
  <trd lng="nl">god</trd>
  <trdgrp lng="pt">
    <trd>deus</trd>,
    <trd>divindade</trd>,
    <trd>deidade</trd>,
    <trd>nume</trd>
  </trdgrp>
  <trd lng="pl">b&oacute;g</trd>
  <trd lng="ru">&c_b;&c_o;&c_g;</trd>
  <trdgrp lng="tr">
    <trd>Allah</trd>,
    <trd>Tanr&inodot;</trd>
  </trdgrp>
  <trdgrp lng="sk">
    <trd>Boh</trd>,
    <trd>boh</trd>
  </trdgrp>
  <trd lng="sv">gud</trd>
  <trd lng="tok">jan sewi</trd>
  <trdgrp lng="uk">
    <trd>&c_b;&c_o;&c_g;</trd>,
    <trd>&c_v;&c_je;&c_r;&c_h;&c_o;&c_v;&c_n;&c_je; &c_b;&c_o;&c_zh;&c_je;&c_s;&c_t;&c_v;&c_o;</trd>
  </trdgrp>
  <trd lng="vo">god</trd>
  <trdgrp lng="zh">
    <trd>&#x4E0A;&#x5E1D; <pr>sh&#xE0;ngd&#xEC;</pr></trd>,
    <trd>&#22825; <pr>ti&amacron;n</pr></trd>,
    <trd>&#32769;&#22825; <pr>l&#x1CE;oti&amacron;n</pr></trd>,
    <trd>&#32769;&#22825;&#29239; <pr>l&#x1CE;oti&amacron;ny&#xE9;</pr></trd>,
    <trd>&#x4E0A;&#22825; <pr>sh&#xE0;ngti&amacron;n</pr></trd>
  </trdgrp>
</drv>

<drv mrk="di.0a">
  <kap><tld/>a</kap>
  <snc mrk="di.0a.REL">
    <dif>
      De <tld/>o:
      <ekz>
        mi sidas sur <tld/>a trono en la mezo de la maroj
        <fnt><bib>MT</bib>, <lok>Je&hcirc;ezkel 28:2</lok></fnt>;
      </ekz><ekz>
        <tld/>a filo
        <fnt><bib>Far1</bib>, <lok>Anta&ubreve;parolo</lok></fnt>;
      </ekz><ekz>
        la <tld/>a potenco
        <fnt><bib>Far1</bib>, <lok>&ccirc;apitro 18a</lok></fnt>;
      </ekz><ekz>
        &ccirc;io dependas de la <tld/>a volo
        <fnt>
          <bib>Monato</bib>
          <aut>Laimius Stra&zcaron;nickas</aut>
          <vrk><url ref="&Monato;/2004/008225.html">Mirakloj en
          arbarprofundo</url></vrk>
          <lok>2004</lok>
        </fnt>.
      </ekz>
    </dif>
    <trd lng="ru">&c_b;&c_o;&c_zh;&c_i;&c_j;</trd>
  </snc>
  <snc mrk="di.0a.FIG">
    <uzo tip="stl">FIG</uzo>
    <dif>
      Perfekta, kvaza&ubreve; &gcirc;i estus de <tld/>o:
      <ekz>
        &scirc;i havis <tld/>an vo&ccirc;on, <tld/>ajn formojn.
      </ekz>
    </dif>
    <trd lng="ru">&c_b;&c_o;&c_zh;&c_je;&c_s;&c_t;&c_v;&c_je;&c_n;&c_n;&c_y;&c_j;</trd>
  </snc>
  <trd lng="be">&c_b;&c_o;&c_s;&c_k;&c_ib;</trd>
  <trd lng="ca">div&iacute;</trd>
  <trd lng="de">g&ouml;ttlich</trd>
  <trd lng="es">divino</trd>
  <trd lng="fr">divin</trd>
  <trd lng="fy">godlik</trd>
  <trd lng="he">&yod;&alef;&lamed;&vav;&he;&yod;</trd>
  <trd lng="hu">isteni</trd>
  <trdgrp lng="id">
    <trd>ilahi</trd>,
    <trd>ilahiah</trd>,
    <trd><baz>tuhan</baz>ketuhanan (adj.)</trd>
  </trdgrp>
  <trd lng="io">deala</trd>
  <trdgrp lng="ja">
    <trd>&#x795E;&#x306E;  <pr>&#x304B;&#x307F;&#x306E;</pr></trd>,
    <trd>&#x795E;&#x306E;&#12424;&#12358;&#x306A;  <pr>&#x304B;&#x307F;&#x306E;&#12424;&#12358;&#x306A;</pr></trd>,
    <trd>&#12371;&#x306E;&#x4E0A;&#x306A;&#x304F;&#12377;&#12400;&#12425;&#12375;&#12356;  <pr>&#12371;&#x306E;&#12358;&#12360;&#x306A;&#x304F;&#12377;&#12400;&#12425;&#12375;&#12356;</pr></trd>
  </trdgrp>
  <trd lng="nl">goddelijk</trd>
  <trd lng="pl">boski</trd>
  <trd lng="sv">gudomlig</trd>
  <trdgrp lng="uk">
    <trd>&c_b;&c_o;&c_zh;&c_i;&c_j;</trd>,
    <trd>&c_b;&c_o;&c_zh;&c_je;&c_s;&c_t;&c_v;&c_je;&c_n;&c_n;&c_i;&c_j;</trd>
  </trdgrp>
  <trd lng="vo">godik</trd>
  <trdgrp lng="zh">
    <trd>&#x795E;&#x4E00;&#x822C; <pr>sh&#xE9;ny&#xEC;b&amacron;n</pr></trd>,
    <trd>&#22825;&#x795E; <pr>ti&amacron;nsh&#xE9;n</pr></trd>,
    <trd>&#x795E;&#22307; <pr>sh&#xE9;nsh&#xE8;ng</pr></trd>
  </trdgrp>
</drv>

<drv mrk="di.0ajxo">
  <kap>
    <tld/>a&jcirc;o
  </kap>
  <snc>
    <dif>
      Supernatura <ref tip="super" cel="est.0ajxo">esta&jcirc;o</ref> konsiderata range malpli alta ol
      <tld/>o:
      <ekz>
        Salomono sekvis A&scirc;taron, <tld/>a&jcirc;on de la Cidonanoj
        <fnt>
          <bib>MT</bib>
          <lok>I. Re&gcirc;oj 11:5</lok>
        </fnt>;
      </ekz>
      <ekz>
        Atenanoj, mi rimarkas, ke vi estas &ccirc;iurilate tro servemaj al <tld/>a&jcirc;oj
        <fnt>
          <bib>NT</bib>
          <lok>La agoj 17:22</lok>
        </fnt>;
      </ekz>
      <ekz>
        la finon de la procesio formis dua aro da akolitoj, portantaj statuetojn de
        malsuperaj <tld/>a&jcirc;oj
        <fnt>
          <bib>I&scirc;tar</bib>
          <lok>&Ccirc;apitro XI</lok>
        </fnt>;
      </ekz>
      <ekz>
        <uzo tip="stl">FIG</uzo>
        mia animo ne havas spacon por du <tld/>a&jcirc;oj
        <fnt>
          <bib>Rabistoj</bib>
          <lok>Akto Kvara</lok>
        </fnt>.
      </ekz>
    </dif>
    <refgrp tip="vid">
      <ref cel="dajmon.0o">dajmono</ref>,
      <ref cel="elf.0o">elfo</ref>,
      <ref cel="fe.0o">feo</ref>,
      <ref cel="fauxn.0o">fa&ubreve;no</ref>,
      <ref cel="geni.0o.dajmono">genio<sncref/></ref>,
      <ref cel="spirit.0o.senkorpa">spirito<sncref/></ref>
    </refgrp>
  </snc>
  <trd lng="be">&c_b;&c_o;&c_s;&c_t;&c_v;&c_a;</trd>
  <trdgrp lng="de">
    <trd>Gottwesen</trd>,
    <trd>g&ouml;ttliches <ind>Wesen</ind></trd>,
    <trd>Gottheit</trd>
  </trdgrp>
  <trd lng="en">deity</trd>
  <trd lng="fr">d&eacute;it&eacute;</trd>
  <trd lng="id">dewa</trd>
  <trdgrp lng="ja">
    <trd>&#x795E;  <pr>&#x304B;&#12416;</pr></trd>,
    <trd>&#12372;&#x795E;&#x4F53;  <pr>&#12372;&#12375;&#12435;&#x305F;&#12356;</pr></trd>,
    <trd>&#12354;&#x304C;&#12417;&#12425;&#x308C;&#x308B;&#x4EBA;  <pr>&#12354;&#x304C;&#12417;&#12425;&#x308C;&#x308B;&#12376;&#12435;</pr></trd>
  </trdgrp>
  <trdgrp lng="zh">
    <trd>&#x795E;&#24615; <pr>sh&#xE9;nx&#xEC;ng</pr></trd>,
    <trd>&#x795E;&#28789; <pr>sh&#xE9;nl&#xED;ng</pr></trd>,
    <trd>&#x795E;&#31047; <pr>sh&#xE9;nch&#xED;</pr></trd>,
    <trd>&#x5E84;&#x4E25; <pr>zhu&amacron;ngy&#xE1;n</pr></trd>
  </trdgrp>
</drv>

<drv mrk="di.0ino">
  <kap><tld/>ino</kap>
  <snc mrk="di.0ino.REL">
    <dif>
      Inseksa <tld/>o:
      <ekz>
        la <tld/>ino de venko <klr>[&#8230;]</klr> tenis la kondukilojn
        <fnt>
          <bib>Fab2</bib>
          <lok>Najbaraj familioj</lok>
        </fnt>;
      </ekz><ekz>
        Venero, <tld/>ino el la tempo idolana, en tiu tempo &scirc;i estis
        nomata sinjorino
        <nom>Holle</nom>
        <fnt>
          <bib>Fab3</bib>
          <lok>Nokta &ccirc;apo de fra&ubreve;lo</lok>
        </fnt>;
      </ekz><ekz>
        <uzo tip="stl">FIG</uzo>
        &scirc;i nun estis jam tute laca de tiu &ccirc;i adorado, &scirc;i estis laca esti
        <tld/>ino de
        balo
        <fnt>
          <bib>FK</bib>
        </fnt>.
      </ekz>
    </dif>
  </snc>
  <trd lng="be">&c_b;&c_a;&c_g;&c_ib;&c_n;&c_ja;</trd>
  <trd lng="bo">&t_la;&t_hata;&t_tsheg;&t_ma;&t_naro;&t_tsheg;</trd>
  <trd lng="ca">deessa</trd>
  <trd lng="de">G&ouml;ttin</trd>
  <trd lng="en">godess</trd>
  <trd lng="es">diosa</trd>
  <trd lng="fr">d&eacute;esse</trd>
  <trd lng="fy">godin</trd>
  <trd lng="he">&alef;&lamed;&he;</trd>
  <trd lng="id">dewi</trd>
  <trd lng="io">deino</trd>
  <trd lng="ja">&#22899;&#x795E;  <pr>&#x304A;&#x307F;&#x306A;&#x304C;&#x307F;</pr></trd>
  <trd lng="nl">godin</trd>
  <trd lng="pl">bogini</trd>
  <trd lng="ru">&c_b;&c_o;&c_g;&c_i;&c_n;&c_ja;</trd>
  <trd lng="sv">gudinna</trd>
  <trd lng="tok">meli sewi</trd>
  <trd lng="uk">&c_b;&c_o;&c_g;&c_i;&c_n;&c_ja;</trd>
  <trd lng="vo">jigod</trd>
  <trdgrp lng="zh">
    <trd>&#x7D55;&#x4EE3;&#x7F8E;&#22899; <pr>ju&#xE9;d&#xE0;im&#x11B;in&#x1DA;</pr></trd>,
    <trd>&#x53D7;&#x5D07;&#x62DC;&#30340;&#22899;&#24615; <pr>sh&#xF2;uch&#xF3;ngb&#xE0;iden&#x1DA;x&#xEC;ng</pr></trd>,
    <trd>&#x5E1D;&#22899; <pr>d&#xEC;n&#x1DA;</pr></trd>,
    <trd>&#22899;&#x795E; <pr>n&#x1DA;sh&#xE9;n</pr></trd>
  </trdgrp>
</drv>

<drv mrk="di.0ismo">
  <kap><tld/>ismo</kap>
  <snc mrk="di.0ismo.FIL">
    <uzo tip="fak">FIL</uzo>
    <dif>
      <ref tip="dif" cel="deism.0o">Deismo</ref>:
      <ekz>
        la Franca Revolucio portis ateismon kaj kontra&ubreve;klerikalan
        <tld/>ismon ekster la
        salonoj kaj en la publikan sferon
        <fnt>
          <vrk><url ref="https://glosbe.com/eo/eo/diismo">diismo -
          &c_o;&c_p;&c_r;&c_je;&c_d;&c_je;&c_l;&c_je;&c_n;&c_i;&c_je; - &c_e;&c_s;&c_p;&c_je;&c_r;&c_a;&c_n;&c_t;&c_o;</url></vrk>
        </fnt>.
      </ekz>
    </dif>
    <trd lng="zh">&#x81EA;&#28982;&#x795E;&#x8AD6; <pr>z&#xEC;r&#xE1;nsh&#xE9;nl&#xF9;n</pr></trd>
</snc>
  <trd lng="be">&c_d;&c_e;&c_ib;&c_z;&c_m;</trd>
  <trd lng="ca">deisme</trd>
  <trd lng="cs">deizmus</trd>
  <trdgrp lng="de">
    <trd>Deismus</trd>,
    <trd>Gottglaube</trd>
  </trdgrp>
  <trd lng="en">deism</trd>
  <trd lng="es">de&iacute;smo</trd>
  <trdgrp lng="fr">
    <trd>d&eacute;isme</trd>,
    <trd>th&eacute;isme</trd>
  </trdgrp>
  <trd lng="he">&alef;&lamed;&vav;&he;&vav;&tav;</trd>
  <trd lng="hu">deizmus</trd>
  <trd lng="id">deisme</trd>
  <trd lng="ja">&#29702;&#x795E;&#x8AD6;  <pr>&#x308A;&#12375;&#12435;&#x308D;&#12435;</pr></trd>
  <trd lng="nl">the&iuml;sme</trd>
  <trd lng="pl">deizm</trd>
  <trd lng="ru">&c_d;&c_je;&c_i;&c_z;&c_m;</trd>
  <trd lng="sk">deizmus</trd>
  <trd lng="uk">&c_d;&c_je;&c_ji;&c_z;&c_m;</trd>
</drv>

<drv mrk="di.dom0o">
  <kap>dom<tld/>o</kap>
  <snc mrk="di.dom0o.REL">
    <uzo tip="fak">REL</uzo>
    <dif>
      Iu el la protektaj <tld/>oj en domo a&ubreve; domoparto, kiujn
      oni kultas &ccirc;e hejma altaro:
      <ekz>
        por ni, plibone estas vivi meze de la prapatraj dom<tld/>oj
        kaj konservi en kvieta paco niajn virtojn en nia propra
        hejmo
        <fnt><aut>J. B. Gresset, trad. C. Rousseau</aut>,
        <vrk>Ver-vert</vrk>, <lok>Esperantista Centra Librejo,
        [1914?]</lok></fnt>.
      </ekz>
    </dif>
    <trd lng="de">Hausgott</trd>
  </snc>
  <trd lng="be">&c_d;&c_a;&c_m;&c_a;&c_v;&c_ib;&c_k;</trd>
  <trdgrp lng="ca">
    <trd>lar</trd>,
    <trd>d&eacute;u dom&egrave;stic</trd>
  </trdgrp>
  <trdgrp lng="fr">
    <trd>dieu du foyer</trd>,
    <trd>lare<klr> (dieu du foyer)</klr></trd>
  </trdgrp>
  <trd lng="pl">b&oacute;stwo<klr> opieku&nacute;cze domu</klr>
  </trd>
</drv>

<drv mrk="di.sen0a">
  <kap>sen<tld/>a</kap>
  <snc mrk="di.sen0a.REL">
    <uzo tip="fak">REL</uzo>
    <dif>
      Ne kredanta je la ekzisto de <tld/>oj a&ubreve; <tld lit="D"/>o:
      <ekz>
        la sen<tld/>a sor&ccirc;istino mizere pereis
        <fnt>
          <bib>ElektFab</bib>
          <lok>Ha&ccirc;jo kaj Grenjo</lok>
        </fnt>;
      </ekz><ekz>
        kiaj sen<tld/>aj agoj! la diablo, &scirc;ajnas, inspiris vin
        <fnt>
          <bib>ElektFab</bib>
          <lok>Fabelo pri iu, kiu migris por ekkoni timon</lok>
        </fnt>!
      </ekz><ekz>
        li estis homo plej sova&gcirc;a, profana kaj sen<tld/>a
        <fnt>
          <aut>A. Conan Doyle trad. W. Auld</aut>,
          <vrk>La &ccirc;ashundo de la Baskerviloj</vrk>,
          <lok>p.15</lok>
        </fnt>.
      </ekz>
    </dif>
    <trd lng="de">gottlos</trd>
    <trd lng="nl">goddeloos</trd>
    <trd lng="zh">&#20993; <pr>di&amacron;o</pr></trd>
</snc>
  <trdgrp lng="be">
    <trd>&c_b;&c_ja;&c_z;&c_b;&c_o;&c_zh;&c_n;&c_y;</trd>,
    <trd>&c_a;&c_t;&c_e;&c_ib;&c_s;&c_t;&c_y;&c_ch;&c_n;&c_y;</trd>
  </trdgrp>
<trd lng="fr">ath&eacute;e</trd>
  <trd lng="id">ateistis</trd>
  <trdgrp lng="ja">
    <trd/>,
    <trd>&#28961;&#x4FE1;&#x4EF0;&#x306E;  <pr>&#12416;&#12375;&#12435;&#12371;&#12358;&#x306E;</pr></trd>
  </trdgrp>
  <trd lng="uk">&c_b;&c_je;&c_z;&c_b;&c_o;&c_zh;&c_n;&c_i;&c_j;</trd>
</drv>

<drv mrk="di.sen0eco">
  <kap>sen<tld/>eco, <var><kap>sen<tld/>ismo</kap></var></kap>
  <snc mrk="di.sen0eco.REL">
    <uzo tip="fak">REL</uzo>
    <dif>
      <ref tip="dif" cel="ateism.0o.FIL">Ateismo</ref>:
      <ekz>
        la sen<tld/>eco trapasis la mezuron, kaj proksimi&gcirc;as la
        horo de l'&#x202F;ju&gcirc;o
        <fnt><bib>Far3</bib>, <lok>&ccirc;apitro 16a</lok></fnt>;
      </ekz><ekz>
        ni deklaras nin por la kreskado internacia de la sen<tld/>eco,
        kiu estas la sola bazo de la vera homaranismo
        <fnt>
          <aut>franca federacio de la Libera Penso</aut>,
          <vrk><url ref="http://librepenseefrance.ouvaton.org/congres/mondial/accueil.htm">
          Alvoko al monda kongreso de la Libera Penso</url></vrk>,
          <lok>2004-07-10</lok>
        </fnt>.
      </ekz>
    </dif>
    <trd lng="de">Gottlosigkeit</trd>
  </snc>
  <trd lng="be">&c_a;&c_t;&c_e;&c_ib;&c_z;&c_m;</trd>
  <trd lng="ca">ateisme</trd>
  <trd lng="es">ateismo</trd>
  <trdgrp lng="fr">
    <trd>ath&eacute;isme</trd>,
    <trd>impi&eacute;t&eacute;</trd>
  </trdgrp>
  <trd lng="hu">ateizmus</trd>
  <trd lng="id">ateisme</trd>
  <trd lng="ja">&#28961;&#x795E;&#x8AD6;  <pr>&#12416;&#12375;&#12435;&#x308D;&#12435;</pr></trd>
  <trd lng="nl">athe&iuml;sme</trd>
  <trdgrp lng="pl">
    <trd>ateizm</trd>,
    <trd>bezbo&zdot;no&sacute;&cacute;</trd>
  </trdgrp>
  <trd lng="ru">&c_a;&c_t;&c_je;&c_i;&c_z;&c_m;</trd>
  <trd lng="sk">ateizmus</trd>
  <trd lng="sv">ateism</trd>
  <trdgrp lng="zh">
    <trd>&#x65E0;&#x795E;&#x8BBA;</trd>,
    <trd><klr>tr. </klr>&#28961;&#x795E;&#x8AD6;<klr>
    [w&uacute;sh&eacute;nl&ugrave;n]</klr></trd>
  </trdgrp>
</drv>

<drv mrk="di.sen0ulo">
  <kap>sen<tld/>ulo</kap>
  <snc mrk="di.sen0ulo.REL">
    <uzo tip="fak">REL</uzo>
    <dif>
      Neanto de la ekzisto de <tld lit="D"/>o a&ubreve; <tld/>oj:
      <ekz>
        en okcidento, la sen<tld/>uloj <klr>[&#8230;]</klr> &gcirc;enerale ne
        apartenas al specifaj asocioj
        <fnt>
          <aut>B. Cadei</aut>,
          <vrk>Ateistoj kaj kredantoj interparolis...</vrk>,
          <lok><url ref="http://www.esperokatolika.org/ek19811985/ek1984_09.htm">
          Espero Katolika, 1984, numero 9a</url></lok>
        </fnt>;
      </ekz><ekz>
        jen historia dokumento pri la mitoj, ritoj kaj militoj de nomada
        popolo, same
        interesa por sen<tld/>uloj kiel por malateistoj
        <fnt>
	<aut>Jorge Camacho</aut>
	<vrk><url ref="&Monato;/2000/006820.php">Plia libro biblia</url></vrk>
	<bib>Monato</bib>
	<lok>2000/08, p. 24</lok>
        </fnt>.
      </ekz>
    </dif>
  </snc>
  <trd lng="be">&c_a;&c_t;&c_e;&c_ib;&c_s;&c_t;</trd>
  <trd lng="ca">ateu</trd>
  <trd lng="cs">ateista</trd>
  <trdgrp lng="de">
    <trd>Atheist</trd>,
    <trd>Gottloser</trd>
  </trdgrp>
  <trd lng="en">atheist</trd>
  <trd lng="es">ateo</trd>
  <trd lng="fr">ath&eacute;e<klr> (subst.)</klr></trd>
  <trdgrp lng="hu">
    <trd>ateista</trd>,
    <trd>istentagad&oacute;</trd>
  </trdgrp>
  <trd lng="id">ateis</trd>
  <trd lng="nl">athe&iuml;st</trd>
  <trdgrp lng="pl">
    <trd>ateista</trd>,
    <trd>bezbo&zdot;nik</trd>
  </trdgrp>
  <trd lng="ru">&c_a;&c_t;&c_je;&c_i;&c_s;&c_t;</trd>
  <trdgrp lng="sk">
    <trd>ateista</trd>,
    <trd>neznaboh</trd>
  </trdgrp>
  <trd lng="sv">ateist</trd>
  <trdgrp lng="uk">
    <trd>&c_b;&c_je;&c_z;&c_b;&c_o;&c_zh;&c_n;&c_i;&c_k;</trd>,
    <trd>&c_a;&c_t;&c_je;&c_ji;&c_s;&c_t;</trd>,
    <trd>&c_n;&c_je;&c_ch;&c_je;&c_s;&c_t;&c_i;&c_v;&c_je;&c_c;&c_mol;</trd>
  </trdgrp>
  <trd lng="zh">&#x65E0;&#x795E;&#x8BBA;&#32773; <pr>w&#xFA;sh&#xE9;nl&#xF9;nzh&#x11B;</pr></trd>
</drv>

<drv mrk="di.0patrino">
  <kap><tld/>patrino</kap>
  <snc mrk="di.0patrino.KRI">
    <uzo tip="fak">KRI</uzo>
    <dif>
      Maria, patrino de <ref cel="jesu.0o.homo">Jesuo</ref>:
      <ekz>
        la lampo anta&ubreve; la bildo de la <tld lit="D"/>patrino
        &jcirc;etadis fortan lumon sur la palan belan viza&gcirc;on
        de la infano
        <fnt><bib>Fab1</bib>, <lok>Kupra porko</lok></fnt>;
      </ekz><ekz>
        tie, ho &gcirc;ojo, estis ore ornamita ikono de la
        <tld lit="D"/>patrino
        <fnt><aut>Ivan G. &Scirc;irjaev</aut>, <vrk>Sen
        titolo</vrk>,
        <lok>&ccirc;apitro 18a</lok></fnt>;
      </ekz><ekz>
        Re&gcirc;ino de l' &Ccirc;ielo, protektema
        <tld lit="D"/>patrino, forportu nin de &ccirc;i tie!
        <fnt>
        <aut>A. &Ccirc;e&hcirc;ov, trad. A. Kor&jcirc;enkov</aut>,
        <vrk>Post la Kristnasko</vrk>.
        <bib>LOdE</bib>, <lok>2002:1</lok>
        </fnt>.
      </ekz>
    </dif>
  </snc>
  <trdgrp lng="be">
    <trd>&c_B;&c_a;&c_g;&c_a;&c_r;&c_o;&c_d;&c_z;&c_ib;&c_c;&c_a;
    </trd>,
    <trd>&c_M;&c_a;&c_c;&c_ib; &c_b;&c_o;&c_s;&c_k;&c_a;</trd>
  </trdgrp>
  <trdgrp lng="ca">
    <trd>Mare de D&eacute;u</trd>,
    <trd>nostra Senyora</trd>,
    <trd>Maria</trd>
  </trdgrp>
  <trd lng="de">Gottesmutter</trd>
  <trdgrp lng="el">
    <trd>&Theta;&epsilon;&omikron;&my;&eta_ton;&tau;&omega;&rho;</trd>,
    <trd>&Theta;&epsilon;&omikron;&tau;&omikron_ton;&kappa;&omikron;&sigma_fina;</trd>
  </trdgrp>
  <trd lng="es">Madre de Dios</trd>
  <trdgrp lng="fr">
    <trd>M&egrave;re de Dieu</trd>
  </trdgrp>
  <trdgrp lng="hu">
    <trd>Isten anyja</trd>,
    <trd>istenanya</trd>,
    <trd>Sz&udblac;z M&aacute;ria</trd>
  </trdgrp>
  <trdgrp lng="la">
    <trd>Mater Dei</trd>,
    <trd>Deipara</trd>
  </trdgrp>
  <trd lng="nl">Moeder Gods</trd>
  <trdgrp lng="pl">
    <trd>Matka Boska</trd>,
    <trd>Bogurodzica<klr> (przest.)</klr></trd>
  </trdgrp>
  <trdgrp lng="ru">
    <trd>&c_b;&c_o;&c_g;&c_o;&c_r;&c_o;&c_d;&c_i;&c_c;&c_a;</trd>,
    <trd>&c_b;&c_o;&c_g;&c_o;&c_m;&c_a;&c_t;&c_je;&c_r;&c_mol;</trd>
  </trdgrp>
</drv>

<drv mrk="di.plur0ismo">
  <kap>plur<tld/>ismo</kap>
  <snc mrk="di.plur0ismo.REL">
    <uzo tip="fak">REL</uzo>
    <uzo tip="fak">FIL</uzo>
    <dif>
      Religio kredanta je ekzisto de multaj <tld/>oj:
      <ekz>
        ar&hcirc;eologio indikis, ke popoloj parolantaj variajn semidajn
        lingvojn kaj kun
        similaj plur<tld/>ismaj religioj lo&gcirc;is en Kanaan kaj la
        &ccirc;irka&ubreve;a&jcirc;o jam dum la
        3-a jarmilo a.K.
        <fnt>
          <bib>Viki</bib>
          <lok><url ref="https://eo.wikipedia.org/?curid=281">Abrahama
          religio</url></lok>
        </fnt>.
      </ekz>
    </dif>
    <ref tip="sin" cel="polite.0o">politeismo</ref>
  </snc>
  <trdgrp lng="be">
    <trd>&c_m;&c_n;&c_a;&c_g;&c_a;&c_b;&c_o;&c_zh;&c_zh;&c_a;</trd>,
    <trd>&c_p;&c_o;&c_l;&c_ib;&c_t;&c_e;&c_ib;&c_z;&c_m;</trd>
  </trdgrp>
  <trd lng="ca">politeisme</trd>
  <trd lng="de">Polytheismus</trd>
  <trd lng="fr">polyth&eacute;isme</trd>
  <trd lng="id">politeisme</trd>
  <trd lng="ja">&#x591A;&#x795E;&#25945;  <pr>&#x305F;&#12375;&#12435;&#x304D;&#12423;&#12358;</pr></trd>
  <trdgrp lng="pl">
    <trd>politeizm</trd>,
    <trd>wielob&oacute;stwo</trd>
  </trdgrp>
</drv>
</art>
<!--
$Log$
versio 1.60 2023/11/14 15:28:31
Eko Nur Syah Hidayat: +trd id

versio 1.58 2023/10/14 11:26:54
revo: transskribo per <pr>

versio 1.56 2023/04/23 12:44:03
Paul Peeraerts: &Steloj -> &Monato

versio 1.55 2023/03/06 09:30:54
Dmitri Gabinski: + trd be

versio 1.54 2022/12/26 11:22:13
Wolfram Diestel: +~a&jcirc;o

versio 1.53 2022/04/26 17:11:48
aktualigo lingvokodoj kaj URL-unuoj

versio 1.49 2021/01/11 13:11:05
Aleks Andre: +trd bo

versio 1.48 2020/12/29 07:11:18
-->
</vortaro>