<?xml version="1.0"?>
<!DOCTYPE vortaro SYSTEM "../dtd/vokoxml.dtd">

<vortaro>
  <art mrk="$Id$">
    <kap>
      <ofc>*</ofc>
      <rad>di</rad>/o
    </kap>
    <drv mrk="di.0o">
      <kap><ofc>*</ofc><tld/>o</kap>
      <snc mrk="di.0o.politeisma">
        <uzo tip="fak">MIT</uzo>
        <uzo tip="fak">REL</uzo>
        <dif>
          Mita supernatura esta&jcirc;o:
          <ekz>
            neniu scias tiom multe da historioj, kiel la <tld/>o de
            dormo
            <fnt>
              <aut>&AtZ;</aut>: <vrk>&Fabeloj;</vrk>
              <lok>Dio de dormo</lok>.</fnt>;
          </ekz><ekz>
            la Eternulo estos terura por ili, &ccirc;ar li ekstermos &ccirc;iujn
            <tld/>ojn de la tero
            <fnt><aut>&tZ;</aut>: <vrk>&X;</vrk>.
              <lok>Cefanja 2:11.</lok></fnt>.
          </ekz>
        </dif>
      </snc>
      <snc mrk="di.0o.monoteisma">
        <uzo tip="fak">REL</uzo>
        <dif>
          Supernatura, eterna, perfekta kaj  &ccirc;iopova spirita esta&jcirc;o,
          kreinto kaj gvidanto de la universo:
          <ekz>
            <tld/>o volu, ke... <klr>(mi tre deziras, ke...)</klr>
          </ekz>
        </dif>
      </snc>
      <snc mrk="di.0o.FIL">
        <uzo tip="fak">FIL</uzo>
        <dif>
          Principo de ekzistado, unueco kaj komprenebleco de universo.
        </dif>
      </snc>
      <snc mrk="di.0o.MAH">
        <uzo tip="fak">MAH</uzo>
        <dif>
          Esta&jcirc;o elpensita de la homa imago por klarigi al si la ekziston de
          la mondo.
        </dif>
      </snc>
      <rim num="1">
        En la sencoj <sncref ref="di.0o.monoteisma"/> kaj
        <sncref ref="di.0o.FIL"/>, <tld/>o estas komuna nomo indikanta
        nombreblan unika&jcirc;on, kaj la&ubreve; la &gcirc;enerala regulo devus akcepti
        la difinan artikolon, simile al <ctl>la homaro</ctl>,
        <ctl>la mondo</ctl> ktp.  &Gcirc;uste tiel estas en la greka:
        &#x3BA;&#x3B1;&#x1F76; &#x1F41; &#x3BB;&#x1F79;&#x3B3;&#x3BF;&#x3C2; &#x1F27;&#x3BD; &#x3C0;&#x3C1;&#x1F78;&#x3C2; <em>&#x3C4;&#x1F78;&#x3BD; &#x3B8;&#x3B5;&#x1F79;&#x3BD;</em>, &#x3BA;&#x3B1;&#x1F76; <em>&#x3B8;&#x3B5;&#x1F78;&#x3C2;</em> &#x1F27;&#x3BD; &#x1F41;
        &#x3BB;&#x1F79;&#x3B3;&#x3BF;&#x3C2; (la&ubreve;vorte:
        <ctl>kaj la vorto estis &ccirc;e <em>la dio</em>,
          kaj <em>dio</em> estis la vorto</ctl>; en la unua apero
        <em>la dio</em> estas determinita difine kiel la konata
        unika&jcirc;o; en la dua, <em>dio</em> estas predikativo, kaj tial
        senartikola, la&ubreve; sia senco; la tradicia traduko [Johano 1:1]
        tiun alklasigon misprezentas kiel identigon).

        La okcidentaj kingvoj transprenis la vorton el la senartikola
        Latino, kaj heredigis tiun malregula&jcirc;on al Esperanto.
      </rim>
      <rim num="2">
        La piuloj skribas kun majuskla D: <em>Dio</em> por la senco
        <sncref ref="di.0o.monoteisma"/> kaj iuj e&ccirc; opinias tiun vorton
        nomo propra; tio estas malvera en kristanismo, judismo kaj
        islamo.  E&ccirc; pli malvera tio estas estas por la senco <sncref
        ref="di.0o.FIL"/> (filozofia).
      </rim>
      <rim num="3">
        En la religioj Mediteraneaj (judismo, kristanismo, islamo)
        <tld lit="D"/>o estas personeca kaj li-genra; en pli abstraktaj
        sistemoj filozofiaj (panteismo, budaismo) ne estas persona
        <tld/>o, kaj se oni uzas tian vorton, &gcirc;i ofte estas &gcirc;i-genra.
        Tiel en la titolo de Waringhien-aj eseoj:
        <ekz>
          <ctl>Ni kaj &Gcirc;i</ctl> <klr>(kie <ctl>&Gcirc;i</ctl> rilatas al
            <tld lit="D"/>o)</klr>.
        </ekz>
      </rim>
      <trd lng="de">Gott</trd>
      <trd lng="en">god</trd>
      <trd lng="es">dios</trd>
      <trd lng="fr">dieu</trd>
      <trd lng="ru">&c_b;&c_o;&c_g;</trd>
      <trdgrp lng="tr">
        <trd>Allah</trd>,
        <trd>Tanr&inodot;</trd>
      </trdgrp>
    </drv>
    <drv mrk="di.0a">
      <kap><tld/>a</kap>
      <snc num="1">
        <dif>
          De <tld/>o:
          <ekz>
            la <tld/>a potenco
            <fnt>(<aut>Kabe</aut>: <vrk>La Faraono, 1a vol.</vrk>,
              <lok>&ccirc;ap. 18</lok>)</fnt>.
          </ekz>
        </dif>
        <trd lng="ru">&c_b;&c_o;&c_zh;&c_i;&c_j;</trd>
      </snc>
      <snc num="2">
        <dif>
          Perfekta, kvaza&ubreve; &gcirc;i estus de <tld/>o:
          <ekz>
            &scirc;i havis <tld/>an vo&ccirc;on, <tld/>ajn formojn.
          </ekz>
        </dif>
        <trd lng="ru">&c_b;&c_o;&c_zh;&c_je;&c_s;&c_t;&c_v;&c_je;&c_n;&c_n;&c_y;&c_j;</trd>
      </snc>
      <trd lng="de">g&ouml;ttlich</trd>
      <trd lng="es">divino</trd>
      <trd lng="fr">divin</trd>
    </drv>
    <drv mrk="di.0ismo">
      <kap><tld/>ismo</kap>
      <uzo tip="fak">FIL</uzo>
      <snc>
        <dif>
          <ref tip="dif" cel="deism.0o">deismo</ref>.
        </dif>
      </snc>
    </drv>
    <drv mrk="di.0patrino">
      <kap><tld/>patrino</kap>
      <uzo tip="fak">KRI</uzo>
      <snc>
        <dif>
          Maria, patrino  de Jesuo.
        </dif>
      </snc>
      <trd lng="de">Gottesmutter</trd>
      <trd lng="es">Madre de Dios</trd>
      <trd lng="ru">&c_b;&c_o;&c_g;&c_o;&c_r;&c_o;&c_d;&c_i;&c_c;&c_a;</trd>
    </drv>
    <drv mrk="di.0servo">
      <kap><tld/>servo</kap>
      <uzo tip="fak">REL</uzo>
      <snc>
        <dif>
          Kulto, meso.
        </dif>
      </snc>
      <trd lng="de">Gottesdienst</trd>
      <trd lng="ru">&c_b;&c_o;&c_g;&c_o;&c_s;&c_l;&c_u;&c_zh;&c_je;&c_n;&c_i;&c_je;</trd>
    </drv>
  </art>
  <!--
  $Log$
  Revision 1.10  2000/11/01 17:11:30  revo
  Jose Martin: hispana traduko

  Revision 1.9  2000/04/05 20:04:15  revo
  Wolfram Diestel: aldonis ekz-fnt, germ trd

  Revision 1.8  1999/12/28 17:52:50  revo
  Lars Soezueer: tr.trd-oj, tajperaro cxe dia

  Revision 1.7  1999/12/22 15:37:00  revo
  Alain Fagot: fr. trd.

  Revision 1.6  1999/12/21 16:49:40  revo
  Michiel Meeuwissen: De di -> De dio

  -->
</vortaro>
