<?xml version="1.0"?>
<!DOCTYPE vortaro SYSTEM "../dtd/vokoxml.dtd">

<vortaro>
<art mrk="$Id$">
<kap>
<ofc>*</ofc>
<rad>di</rad>/o
</kap>
<drv mrk="di.0o">
<kap><ofc>*</ofc><tld/>o</kap>
<snc num="1">
<uzo tip="fak">MIT</uzo>
<dif>
Mita supernatura esta&jcirc;o.
</dif>
</snc>
<snc num="2">
<uzo tip="fak">REL</uzo>
<dif>
Supernatura, eterna, perfekta k  &ccirc;iopova spirita esta&jcirc;o, kreinto k gvidanto de la universo:  <ekz><tld/>o volu, ke...
<klr>(mi  tre deziras, ke...)</klr>
</ekz>
</dif>
</snc>
<snc num="3">
<uzo tip="fak">FIL</uzo>
<dif>
Principo de ekzistado,  unueco k komprenebleco de universo.
</dif>
</snc>
<snc num="4">
<uzo tip="fak">MAH</uzo>
<dif>
Esta&jcirc;o elpensita de la homa  imago por klarigi al si la ekziston de la  mondo.
</dif>
</snc>
<trd lng="en">god</trd>
<trd lng="fr">dieu</trd>
</drv>
<drv mrk="di.0a">
<kap><tld/>a</kap>
<snc num="1">
<dif>
De <tld/>o: <ekz>la <tld/>a potenco.
</ekz>
</dif>
</snc>
<snc num="2">
<dif>
Perfekta, kvaza&ubreve; &gcirc;i estus de <tld/>: <ekz>&scirc;i havis  <tld/>an vo&ccirc;on, <tld/>ajn formojn.
</ekz>
</dif>
</snc>
<trd lng="fr">divin</trd>
</drv>
<drv mrk="di.0ismo">
<kap><tld/>ismo</kap>
<uzo tip="fak">FIL</uzo>
<snc>
<dif>
<ref tip="dif" cel="deism.0o">deismo</ref>.
</dif>
</snc>
</drv>
<drv mrk="di.0patrino">
<kap><tld/>patrino</kap>
<uzo tip="fak">KRI</uzo>
<snc>
<dif>
Maria, patrino  de Jesuo.
</dif>
</snc>
</drv>
<drv mrk="di.0servo">
<kap><tld/>servo</kap>
<snc>
<dif>
Kulto, meso.
</dif>
</snc>
</drv>
</art>
<!--
$Log$
Revision 1.6  1999/12/21 16:49:40  revo
Michiel Meeuwissen: De di -> De dio

-->
</vortaro>
