<?xml version="1.0"?>
<!DOCTYPE vortaro SYSTEM "../dtd/vokoxml.dtd">

<vortaro>
  <art mrk="$Id$">
    <kap>
      <ofc>1</ofc>
      <rad>menu</rad>/o
    </kap>
    <drv mrk="menu.0o">
      <kap><tld/>o</kap>
      <snc mrk="menu.0o.bankeda">
        <dif>
          Listo de man&gcirc;oj de bankedo, oficiala a&ubreve; solena man&gcirc;o:
          <ekz>
            aran&gcirc;i delikatan, rafinitan <tld/>on<fnt>PIV</fnt>.
          </ekz>
        </dif>
        <trd lng="de">Men&uuml;</trd>
      </snc>
      <snc mrk="menu.0o.restoracia">
        <dif>
          <ref cel="mangx.0okarto">Man&gcirc;okarto</ref>.
        </dif>
        <trd lng="de">Speisekarte</trd>
      </snc>
      <snc mrk="menu.0o.KOMP">
        <uzo tip="fak">KOMP</uzo>
        <dif>
          En <ref tip="malprt" cel="dialog.0o.KOMP">dialogo</ref> kun
          komputilo, listo da komandoj a&ubreve; opcioj aperanta sur la
          ekrano, el kiu listo la uzanto elektas la bezonaton klavante
          numeron a&ubreve; literon, a&ubreve; almovante la kursoron per sagoklavoj
          a&ubreve; muso.
        </dif>
        <trd lng="de">Men&uuml;</trd>
      </snc>
      <trd lng="en">menu</trd>
      <trd lng="nl">menu</trd>
      <trd lng="ru">&c_m;&c_je;&c_n;&c_ju;</trd>
    </drv>
  </art>
<!--
$Log$
Revision 1.6  2001/04/19 17:19:15  revo
Paul Peeraerts: ald trd nl

Revision 1.5  2001/04/17 16:21:19  revo
Sergio Pokrovskij: reverkita

-->
</vortaro>

